<h1><%= @genre.name %></h1>

<% @movies.each do |movie| %>
  <%= link_to movie.format, movie_path(movie) %>
  <br>
<% end %>
<br>

<%= link_to "Edit Genre", edit_genre_path(@genre) %>

<br><br>
<%= button_to "Delete Genre", genre_path(@genre), method: :delete %>
